<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ******************** -->
    <!-- Decorators / Plugins -->
    <!-- ******************** -->
    <type name="\Magento\Framework\Webapi\ServiceOutputProcessor">
        <!-- Log Web API responses -->
        <plugin name="fl32_log_api_plugin"
                type="\Flancer32\LogApi\Plugin\Magento\Framework\Webapi\ServiceOutputProcessor"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="\Magento\Webapi\Controller\Rest\ParamsOverrider">
        <!-- Log Web API requests data -->
        <plugin name="fl32_log_api_plugin"
                type="\Flancer32\LogApi\Plugin\Magento\Webapi\Controller\Rest\ParamsOverrider"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="\Magento\Webapi\Controller\PathProcessor">
        <!-- Log Web API paths processing. -->
        <plugin name="fl32_log_api_plugin"
                type="\Flancer32\LogApi\Plugin\Magento\Webapi\Controller\PathProcessor"
                sortOrder="100" disabled="false"/>
    </type>
</config>
